<div class="form-group">

    <div class="input-group date col-md-5" data-date="" data-date-format="<%= format %>"
         data-link-field="dtp_input2" data-link-format="<%= format %>">

        <span class="input-group-addon prepDate"><span class="glyphicon glyphicon-chevron-left"></span></span>
        <input class="form-control form_date" size="16" type="text" value="<%= currDate %>" readonly id="dtp_input2"
               data-date-format="<%= format %>"
               data-link-format="<%= format %>">
        <span class="input-group-addon nextDate"><span class="glyphicon glyphicon-chevron-right"></span></span>

    </div>

</div>